:root {
    --jumbo-background: #1ABC9C;
    --header-background: #2C3E50;
    --titletext: #333333;
    --footertop-background: #3A546D;
}

.ms_line_black{
    background-color: black;
}

.ms_line_white{
    background-color: white;
}

.bg_header {
    background-color: var(--header-background);
}

.bg_azure {
    background-color: var(--jumbo-background);

}

.text_azure{
    color: var(--jumbo-background);
}

.footer_top {
    background-color: var(--footertop-background);
}

.footer_bottom {
    background-color: var(--header-background);
}



.linea{
    display: inline-block;
    height: 3px;
    width: 100px;
    border-radius: 3px;
    vertical-align: middle;
}


.filter{
    filter: invert(2) brightness(2.5);

}


.p_5{
    padding: 5px;
}


.w_65{
    width: 65%;
}


