:root {
    --jumbo-background: #1ABC9C;
    --header-background: #2C3E50;
    --titletext: #333333;
    --footertop-background: #3A546D;


}


.bg_header{
    background-color: var(--header-background);
}

.line_b{
    display: block;
    width: 100px;
    height: 3px;
    background-color: white;
}


.ms_logo{
    background-color:chartreuse;
    height: 50px;
    width: 50%;
}

.ms_nav{
    background-color: aqua;
    height: 50px;
    width: 50%;
}

.ms_jumbo{
    background-color: var(--jumbo-background);

    
}



.ms_text{
    height: 100px;
    width: 100%;
    background-color: rgb(51, 61, 153);
}

.ms_jumbo_button{
    background-color: rgb(74, 133, 6);
    
    
}

.contact{
    
    height: 500px;
    
}

.footer_top{
    
    background-color: var(--footertop-background);
}

.footer_bottom{
    background-color: var(--header-background);
}